ETHEREUM_RPC=https://eth-mainnet.gateway.pokt.network/v1/5f3453978e354ab992c4da79
BSC_RPC=https://bsc-dataseed4.binance.org
POLYGON_RPC=https://rpc-mainnet.maticvigil.com/
HECO_RPC=https://http-mainnet.hecochain.com
FANTOM_RPC=https://rpcapi.fantom.network
RSK_RPC=https://public-node.rsk.co
TOMOCHAIN_RPC=https://rpc.tomochain.com
XDAI_RPC=https://xdai.poanetwork.dev
AVAX_RPC=https://api.avax.network/ext/bc/C/rpc
WAN_RPC=https://gwan-ssl.wandevs.org:56891
HARMONY_RPC=https://api.s0.t.hmny.io
THUNDERCORE_RPC=https://mainnet-rpc.thundercore.com
OKEXCHAIN_RPC=https://exchainrpc.okex.org
OPTIMISM_RPC=https://mainnet.optimism.io/
ARBITRUM_RPC=https://arb1.arbitrum.io/rpc
KCC_RPC=https://rpc-mainnet.kcc.network
CELO_RPC=https://forno.celo.org